html,dody,*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    transition: all 0.2s ease-out !important;
    -webkit-transition: all 0.2s ease-out !important;
    scroll-behavior: smooth;
}
.selector-for-some-widget {box-sizing: content-box;}

body{
  /*  overflow: hidden; */
  font-family: 'Changa', sans-serif !important;
   background-color: #f7f7f7 !important;
}
span.dash-left {
    color: #e2e2e2;
}
header{

    display: block;
    height: 100vh;
    margin: 0 auto;
    background-image:url(../images/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.cover{
    display: block;
    text-align: center;
    background :#f7f7f78a !important;
    height: 100%;
}
header .cover h2{
    color: #000000 ;
    font-weight: 700 ;
    LINE-HEIGHT: 55PX ;
    margin-bottom: 1rem ;
    font-size: 2.7em ;
    -webkit-font-smoothing: antialiased;
}
header p {
    color: #000000;
    font-weight: 200;
    padding: 0px 25px;
    font-size: 18px !important;
    margin-bottom: 1rem !important;
}
.conter {

  margin: 0 auto;
  display: block;
  align-items: center;
  position: relative;
  top: 27vh;

}

button {
    cursor: pointer;
    padding: 20px;
}
.mar {
margin: 0 auto;
    position: absolute;
    top: 90vh;
    right: -50%;
    display: block;
    width: 80%;
    background: white;
    border-radius: 7px;
    left: -50%;
}

.mar p{
    padding: 1.3rem;
    text-align: center;
    padding-top: 0;
    color: #5f4c82;

}

#about {
    background-color: #f7f7f7;
    height: auto;
    box-shadow: 0px -3px 3px #00000005 !important;
    width: 100%;
    padding-bottom: 2rem;
}
#about > .title > h2{
   font-weight: 200;
   text-align: center;
   padding: 50px;
   font-size:2.3em;
}
.title{
    margin: 0 auto;
    text-align: center;

}

/* start spinner */
.divspinner{
    display: none; /* block spinner */
    background: #ff9a44;
    width: 100%;
    position: fixed;
    height: 100%;
    z-index: 9999999;


}
.fab {
    vertical-align: middle;
    border-style: none;
    animation: rotate 4s infinite;animation-timing-function: ease-in-out;
    padding: 0 1rem !important;

}
.title:hover > .border {
    border-color: #ff9a44 !important;
    transform: scaleX(2.3);
}
.title:hover > .b {
    border-color: #ff9a44 !important;
    transform: scaleX(6);
}
.rounded:hover {
    transform: translateY(-10px);
}
.spinner {
    margin: 50vh auto;
  width: 40px;
  height: 40px;

  position: relative;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/* end spinner */
.fa-connectdevelop:before {
    content: "\f20e";
    color: #3da5e4 !important;
    font-size: 30px;
}
span, li{
    font-weight: 100;
    color:#3da5e4;
    padding: 13 10px;
}
div#about-link {
    position: relative;
    top: -60px;
    display: block;
}
ul {
    list-style: none;
    float: right;
    margin: 0 10px;
    display: inherit;
}
li{
    cursor: pointer;
    font-size: 18px;
    padding:  0.5rem;
}
li > a{
    text-decoration: none !important;
    color: #575d67!important;
    padding: 6px 0 !important;
}
    li > a:hover{
      color: #3da5e4 !important;
    }
@keyframes rotate{
 0% {transform: rotate(0deg) }
 100% {transform: rotate(360deg) }
}
.dash{
    color: #e2e2e2;
    font-weight: 100;
    user-select: none;
    margin-right: 1rem;
}
 li > a:focus , focus-within{
       color: #3da5e4 !important;
    }

.icon-scroll,.icon-scroll:before{
  position: absolute;
  left: 50%;
}
.icon-scroll{
    width: 33px;
    height: 53px;
    margin-left: -17px;
    top: 50%;
    margin-top: 27vh;
    box-shadow:inset 0 0 0 1px #ff9a44;
    border-radius: 25px;
    z-index: 1;

}
.icon-scroll:before{
    content: '';
    width: 5px;
    height: 8px;
    background: #ff9a44;
    margin-left: -2px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}
@keyframes scroll{
  0%{opacity: 1;}
  100%{opacity: 0;transform: translateY(46px);}
}
.a-btn{
     padding: 100%;
    padding-top: 15%;
    padding-left: 9%;
}

.rows{
    width: 80%;
    display: flex;
    margin: 0 auto;
    text-align: justify;
    user-select: none;

}
.margen{
margin: 0 2rem;
}
.rows p{
    margin-top: 0;
    margin-bottom: 0 !important;
    padding: 1rem;
    font-size: 15px;
    color: #fff;
    text-align: justify;
}
.rows > .bg-white {
    background-color: #3da5e4 !important;
}
img.p-img {
    width: 100%;
    padding: 0;
    border-radius: 3px 3px 0px 0px;
    filter: brightness(0.8);
    cursor: pointer;
}
.col-lg.shadow-sm.p-3.mb-5.bg-white.rounded:hover {
    box-shadow: 0 0.125rem 2rem rgba(0, 0, 0, 0.075) !important;
}
/* media screen */
@media screen and (max-width: 992px) {
  .rows {
           display: block;
           width: 65%;
  }
  .margen {
    margin: 0 0 !important;
    margin-bottom: 3rem !important;
}

}

@media screen and (max-width: 750px) {
  .rows {
           display: block;
           width: 80%;
  }
      .icon-scroll{
        display: none !important;
  }
}


/* end screen media */
.profile > img{
    width: 129px;
    border-radius: 100px 100px 0px 0px;
    border: solid 2px #3da5e4;
    padding: 2px;
    margin: 0 auto;
    display: block;
    z-index: 2;
    position: static;
}
.profile {
    margin: 0 auto;
    display: block;
    width: 80%;
}

.profile > p{
    text-align: center;
    color: #ffffff;
    font-size: 1.09em;
    padding: 1rem;
    margin-bottom: 0 !important;
    margin-top: -1rem;
    border-radius: 4px;
    z-index: 1;
    background-color: #3da5e4;
    position: relative;

}
.fa, .fas {
    font-weight: 900;
    transform: rotate(-20deg);
    float: right;
    font-size: 42px;
    color: #c5c5c540;
}

i.fas.fa-heart.fas2 {
    font-weight: 900;
    transform: rotate(20deg);
    float: left;
    font-size: 42px;
    color: #c5c5c540;
}

/* section 2*/

.my-service {
    width: 80% !important;
    margin: 0 auto;
    height: auto;
    padding-bottom: 2.5rem;

}

.contant-row{
  background: #f7f7f7;
  color: white;
  padding: 0 ;
  margin: 0.9rem auto;
  border-radius: 4px;
  display: flex;
  flex-direction: row-reverse;
}
.contant-row p{
text-align: right;
color: #3da5e4;
padding: 1rem;
}
.contant-row h3{
  text-align: right;
  color: #3da5e4;
  padding-bottom: 0 !important;
  font-size: 20px;
  padding: 1rem;
  padding-top: 1.5rem;
  margin: 0;
}
.p-row {
    float: right;
    flex: auto;
    width: 50%;
    padding-right: 1rem;
}
.img-row {
    float: right;
    flex: auto;
    width: 23%;
}
.img-row img{
  float: right;
  border-radius: 0px 4px 4px 0px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100% !important;
  text-align: center;
}
.service{
  width: 100%;
  background:#3da5e4;
}
.service > .title > h2{
   font-weight: 100;
   text-align: center;
   padding: 50px;
   font-size:2.3em;
   color: white;
   padding-bottom: 2rem;
}

/* style sosiel links --s-nav--*/
.s {
    animation: none;
    color: #3da5e4;
    margin: 9px;
    position: relative;
    padding: 0px !important;
    top: 1px;

}
ul.s-nav a:hover .s {
    color: #ff9a44 !important;
}
.s-nav li {
    padding: 0px;
}

/*---------end ----*/


/* The new style after back */

.profile > p:hover {
  transform: translateY(-7px);
      background-color: #ff9a44;
      cursor: pointer;
      box-shadow: 0px 1px 20px 0px #ff9a44;
    /* border-top: solid 2px #42a7e4; */
}
section#footer {
    height: auto;
    background: #151515;
    border-top: solid 2px #5f5f5f;
}
.width-footer{
  width: 87%;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  display: block;
}
#footer h3:hover {
      border-color: #9dab2e;
      color: #9dab2e;
      user-select: none;
}
i.fas.fa-angle-up.f {
      position: relative;
      display: inline-block;
      right: 57px;
      transform: none;
      top: -21px;
      padding: 0px 10px;
      border-radius: 2px;
      box-shadow: 0px -2px #5f5f5f;
      background: #151515;
      color: #7b7b7b;
}
i.fas.fa-angle-up.f:hover {
  color: #ffffff;
  transform: translateY(-5px);
}
.s {
    transition: all 0.1s ease-in-out !important;
}
ul.foot-nav li {
    color: #7b7b7b;
    display: block;
    line-height: 17px;
    padding: 0;
    text-align: right;
    width: 100%;
}
ul.foot-nav li a:hover{
      color: #fff !important;
      padding: 7px 3px !important;
      transition: all 0.1s !important;
}
ul.foot-nav li a{
  width: 100%;
    display: block;
    padding: 7px 0 !important;
    margin: 0px;
}
ul.foot-nav li a:focus{
  color: #9dab2e !important;
}
ul.foot-nav {
    margin: 0;
    padding: 0px 10px;
    width: 100%;
}
.f-i {
    font-weight: 900;
    position: relative;
    font-size: 18px;
    float: left;
    color: #151515;
    transform: none;
}
#footer a:hover .f-i {
    color: #9dab2e !important;
}
#footer .col-lg-6:hover h3 { color: white;border-color: white; }
#footer .col-lg-3:hover h3 { color: #9dab2e; }
.s-nav li:hover {
    color: #3da5e4 !important;
    transform: translateY(-5px);
    transition: all 0.4s;
}
.col-lg-9.width-end {
    margin: 0 auto;
    padding: .6rem;
    user-select: none;
}
.end-footer {
    background: #0e0e0e;
}
/* footer copyright */

#footer p {
    display: inline-block;
    padding: 0px 10px;
}

.e-i {
    transform: none;
    font-size: 19px;
    padding: 0px 5px;
    line-height: 24px;
    position: relative;
    top: 3px;
        float: left;
}
.width-end:hover .e-i {
    color: #dc3545;
}
span.footer-name:hover {
    color: #ff9a44;
}

span.footer-name {
    color: #3b3b3b;
    float: left;
    padding: 0 5px;
}
/* finally the fucking site is done in the line namber 582*/
